/*variables*/
$accent1:#b78a86;
$accent2:#aaa28d;
$colorbackg:#f7f7f7;
$colorfont:#434343;
$borderimg:5px solid $accent2;
$bckg:rgba(255,255,255,0.7);
$bellycolor:#ec8780;
$conradcolor:#48cfad;
$jerecolor:#5d9cec;
$stepcolor:#ffce54;
$m1color:#ac92ec;
$m2color:#fc6e51;
$textfont: 12px general sans;
$tith2font:900 15px general sans;
